{
  "presets": [
    "flow",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread"
  ]
}
