{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "env": {
    "node": true,
    "jest": true
  },
  "globals": {
    "Accidental": true,
    "AccidentalType": true,
    "Scale": true,
    "Chord": true,
    "ScientificNote": true,
    "NoteObject": true,
    "Interval": true,
    "Note": true,
    "ScientificNotes": true,
    "Octave": true
  }
}
